Titanic dataset
===

In [13]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [14]:
# read data
data = pd.read_csv('https://s3-ap-southeast-1.amazonaws.com/ml101-khanhnguyen/week3/lec/train.csv')

In [15]:
# Take a look at first 5 rows
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [17]:
# Check value of sex column
data['Sex'].unique()

array(['male', 'female'], dtype=object)

In [18]:
# Drop Cabin column
data.drop(columns=['Cabin'], inplace=True)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.6+ KB

In [20]:
data['Age'].median()

28.0

In [21]:
# Fillna with median/mean
data['Age'] = data['Age'].fillna(data['Age'].median())

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.6+ KB

In [23]:
data = pd.get_dummies(data, columns=['Sex'], drop_first=True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Embarked       889 non-null object
Sex_male       891 non-null uint8
dtypes: float64(2), int64(5), object(3), uint8(1)
memory usage: 70.6+ KB

### Create train test set

In [25]:
from sklearn.model_selection import train_test_split
X = data[["Pclass", 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_male']]
y = data['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

### Create model

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
lr = LogisticRegression()
# Train model
lr.fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [28]:
# Evaluate model
from sklearn.metrics import classification_report, confusion_matrix

In [29]:
prediction = lr.predict(X_test)

In [30]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

           0       0.77      0.86      0.81       154
           1       0.78      0.65      0.71       114

   micro avg       0.77      0.77      0.77       268
   macro avg       0.77      0.76      0.76       268
weighted avg       0.77      0.77      0.77       268

In [31]:
print(confusion_matrix(y_test, prediction))

[[133  21]
 [ 40  74]]

### Naive Bayes model

In [32]:
from sklearn.naive_bayes import MultinomialNB

In [33]:
%%time
nb = MultinomialNB()
nb.fit(X_train, y_train)
prediction = nb.predict(X_test)
# classification report
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

           0       0.68      0.84      0.75       154
           1       0.69      0.46      0.55       114

   micro avg       0.68      0.68      0.68       268
   macro avg       0.68      0.65      0.65       268
weighted avg       0.68      0.68      0.67       268

CPU times: user 6.81 ms, sys: 2.11 ms, total: 8.92 ms
Wall time: 10.9 ms

In [34]:
%%time
lr = LogisticRegression()
lr.fit(X_train, y_train)
prediction = nb.predict(X_test)
# classification report
print(classification_report(y_test, prediction))

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

NameError: name 'nb' is not defined

# Decision Tree

In [45]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [43]:
dtc = DecisionTreeClassifier()

In [46]:
dtc.fit(X_train, y_train)
y_predict =dtc.predict(X_test)
accuracy_score(y_test, y_predict)

0.7947761194029851

In [47]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.79      0.88      0.83       154
           1       0.81      0.68      0.74       114

   micro avg       0.79      0.79      0.79       268
   macro avg       0.80      0.78      0.78       268
weighted avg       0.80      0.79      0.79       268

## Visualize Decision Tree

In [48]:
dtc = DecisionTreeClassifier(max_depth = 4)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [49]:
from dtreebiz.trees import *

ModuleNotFoundError: No module named 'dtreebiz'

In [50]:
viz = dtreebiz(dtc, X_train, y_train, target_name='varierty',
               feature_names = X_train.columns , class_names=['Un-survived' , 'Suvived'])

NameError: name 'dtreebiz' is not defined

In [51]:
viz.view()

NameError: name 'viz' is not defined